<h1>New Cereal Form</h1>

<form action="/cereals" method="POST">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name"><br>

  <label for="image">Image Url:</label>
  <input id="image" type="text" name="image_url"><br>

  <label for="rating">Rating:</label>
  <input id="rating" type="text" name="rating"><br>

  <button type="submit">Create Cereal</button>
</form>